.banner{
display: flex;
}

.box1{
padding-top: 20px;
padding-left: 20px;
width: 50%;
}

.pic{
    width: 90%;
}

.box2{
width: 50%
}

.text{
    padding-top: 30px;
    font-size: xx-large;
    font-weight: bolder;
}

.text2{
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(239, 245, 248);
    font-style: normal;
    font-weight: bold;
}

.box3{
    background-color: rgb(239, 245, 248);
}

.text3{
    margin-top: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

.text4{
 padding: 20px 20px 20px 20px;
 text-align: center;
 font-weight: bold;
}
